<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="navbar">
    <h2> Edit Product</h2>
    <nav>
        <a href="/admin">Back</a>
    </nav>
</header>

<form method="POST" action="/admin/update/{{ product['id'] }}" 
      style="max-width:400px;margin:400px auto;">
    
    <input type="name" name="name" value="{{ product['name'] }}" required><br><br>
    <input type="price" name="price" type="number" value="{{ product['price'] }}" required><br><br>
    <input type="category" name="category" value="{{ product['category'] }}" required><br><br>
    <input type="image" name="image" value="{{ product['image'] }}" required><br><br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <button type="submit">Update Product</button>
</form>

</body>
</html>