<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="navbar">
    <h2>🏆 Admin Panel</h2>
    <nav>
        <a href="/products">Store</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>

flash("Product added successfully!", "success")
flash("Product deleted", warning)
flash("Inavlid input", error)

<!-- 🔽 FLASH MESSAGES GO HERE -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
        <div class="flash{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="container admin-layout">

<section class ="admin-card">
  <h2>Add Product</h2>

  <form action="/admin/add" method="POST">
    <input name="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <input name="name" placeholder="Product Name" required><br><br>
    <input name="price" type="number" placeholder="Price" required><br><br>
    <input name="category" placeholder="Category" required><br><br>
    <input name="image" placeholder="Image filename ( e.g. ball.jpeg)" required><br><br>
  
    <button class="btn primary">Add Product</button>
  </form>
</section>

<section class="admin-card">
<h2>Existing Products</h2>

<p class="muted">Total products: {{ products|length }}</p>

<div class="product-grid">
    {% for p in products %}
        <div class="card admin-product">
          <img src="{{ url_for('static', filename='images/' + p.image) }}"
               oneerror="this.src'/stattic/images/placeholder.png'">
            
            <h3>{{ p['name'] }}</h3>
            <p class="price">₹{{ p['price'] }}</p>
            <p class="muted">{{ p.category }}</p>

            <div class="admin-actions">
              <a class="btn small" href="/admin/edit/{{ p['id'] }}">Edit</a>
              <a class="btn danger small" 
                 href="/admin/delete/{{ p['id'] }}"
                 onclick="return confirm('Delete this product permanently?')">
                 Delete
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    
</div>
</body>
</html>