<!DOCTYPE html>
<html>
<head>
    <title>Sports Store</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<header class="navbar">
    <h2> SportsStore</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<section class="hero">
    <h1>Gear Up. Game On</h1>
    <p>Premium Sports and Fitness Equipment</p>
    <a class="btn" href="/products">Shop Now</a>
</section>
 |
</body>
</html>