<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="navbar">
    <h2>🏆 SportsStore</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<h1 class="page-title">Our Products</h1>

<form method="GET" action="/products" class="search-form">
   <input
    type="text"
    name="search"
    placeholder="Search products..."
    value="{{ query }}"
    >
    <button type="submit">Search</button>
</form>
   
<form method="GET" action="/products" class="filter-form">
   <select name="category">
       <option value="">All Categories</option>
       <option value="Outdoor" {% if category == "Outdoor" %}selected{% endif %}>Outdoor</option>
       <option value="Indoor" {% if category == "Indoor" %}selected{% endif %}>Indoor</option>
       <option value="Fitness" {% if category == "Fitness" %}selected{% endif %}>Fitness</option>
   </select>

   <input type="hidden" name="q" value="{{ query }}">
   <button type="submit">Filter</button>
</form>

<div class="product-grid">

    {% for item in products %}
        <div class="card">
            <img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.name }}">
            <h3>{{ item.name }}</h3>
            <p class="category">{{ item.category }}</p>
            <p class="price">₹{{ item.price }}</p>
            <a class="btn-cart" href="/add_to_cart/{{ item.name }}">Add to Cart</a>
        </div>
    {% endfor %}

</div>

</body>
</html>
